{% extends "IUTAdminBundle::layout.html.twig" %}

{% block title %}
    Ajouter Pièce   {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    Ajouter <i class="fa fa-chevron-right"></i> Pièce
{% endblock %}



{% block main %}

    <div class="row">
        <!--Grid column-->
        <div class="col-md-4 ">

            <div class="card card-body mb-4">
                <!--Table-->
                <table class="table table-hover">

                    <!--Table head-->
                    <thead>
                    <tr class="orange lighten-3">
                        <th>Valeur</th>
                        <th>Devise</th>
                        <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    {% for coin in listCoins %}
                        <tr>

                            <td>{{ coin.value }}</td>
                            <td>{{ coin.currencies.name }}</td>
                            <td><a href="{{ path('iut_admin_delete',{'id': coin.id, 'classe': 'Coins'}) }}"><i class="fa fa-remove"></a></i></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->
            </div>


        </div>
        <!--Grid column-->


        <!-- Grid column -->
        <div class="col-md-8 mt-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <!--Panel-->
            <div class="card card-body mb-4">
                <p class="h4 text-center mb-4">Ajouter une pièce</p>
                {{ form_start(form) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}



                {# Génération manuelle et éclatée : #}
                <div class="md-form mb-5">
                    {# Génération du label. #}
                    {{ form_label(form.value, "Valeur") }}

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.value) }}


                    {# Génération de l'input. #}
                    {{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}

                </div>

                <div class="form-check radio-orange mb-5">

                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.currencies) }}



                    {# Génération de l'input. #}
                    {{ form_widget(form.currencies, {'attr': {'class': 'form-control'}}) }}

                </div>


                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-orange'}}) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
            <!--/.Panel-->
        </div>
    </div>


{% endblock %}

