{% extends "IUTAdminBundle::layout.html.twig" %}

{% block title %}
    Ajouter Devise  {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    Ajouter <i class="fa fa-chevron-right"></i> Devise
{% endblock %}



{% block main %}

    <div class="row">
        <div class="col-md-4 ">

            <div class="card card-body mb-4">
                <table class="table table-hover">

                    <thead>
                    <tr class="orange lighten-3">

                        <th>Devises actuelles</th>
                        <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    {% for currencie in currencies %}
                        <tr>

                            <td>{{ currencie.name }}</td>
                            <td><a href="{{ path('iut_admin_delete',{'id': currencie.id, 'classe': 'Currencies'}) }}"><i
                                            class="fa fa-remove"></a></i></td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>


        </div>

        <div class="col-md-8 mt-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="card card-body mb-4">
                <p class="h4 text-center mb-4">Ajouter une devise</p>
                {{ form_start(form) }}

                {{ form_errors(form) }}


                <div class="md-form mb-5">
                    {{ form_label(form.name, "Nom") }}

                    {{ form_errors(form.name) }}

                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

                </div>


                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-orange'}}) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
