{% extends "IUTAdminBundle::layout.html.twig" %}

{% block title %}
    Ajouter  Fichier {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    Ajouter <i class="fa fa-chevron-right"></i> Fichier
{% endblock %}



{% block main %}

    <div class="row">
        <div class="col-md-4 ">

            {% for file in listFiles %}
                <div class="card card-body mb-4">
                    {% if file.name != null %}
                        <h4 class="card-title">{{ file.name }}</h4>
                    {% endif %}
                    {% if file.description != null %}
                        <p class="card-text">{{ file.description }}</p>
                    {% endif %}
                    <div class="flex-row ">

                        {% if file.nameFile != null %}

                            <a href="{{ asset('uploads/files/' ~ file.nameFile) }}" target="_blank"
                               class="card-link text-warning"><i
                                        class="fa fa-file-pdf-o"></i> PDF</a>    

                        {% endif %}


                        <a href="{{ path('iut_admin_delete',{'id': file.id, 'classe': 'Files'}) }}"
                           class="text-warning">Supprimer</a>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="col-md-8 mt-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="card card-body mb-4">
                <p class="h4 text-center mb-4">Ajouter une publication avec fichier optionnel (2mo max)</p>
                <a href="https://www.ilovepdf.com/fr/compresser_pdf" class="text-center text-warning" target="_blank">Compresseur
                    en ligne</a>
                {{ form_start(form) }}

                {{ form_errors(form) }}


                <div class="md-form mb-5">
                    {{ form_label(form.name, "Nom") }}

                    {{ form_errors(form.name) }}

                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

                </div>

                <div class="md-form mb-5">
                    {{ form_label(form.description, "Description") }}

                    {{ form_errors(form.description) }}

                    {{ form_widget(form.description, {'attr': {'class': 'md-textarea form-control'}}) }}

                </div>

                <div class="md-form mb-5">

                    <div class=" alert-warning">
                        {{ form_errors(form.file, {'attr': {'class': ''}}) }}
                    </div>
                    <div class="file-field">
                        <div class="btn btn-orange btn-sm float-left">
                            <span>Choisir un pdf</span>
                            {{ form_widget(form.file, {'attr': {'class': ''}}) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"
                                   placeholder="Envoyer votre fichier sur le serveur">
                        </div>
                    </div>

                </div>

                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-orange'}}) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

